<html>
    <head></head>
    <body>
        {% include 'menubar.html'%}
        <table cellpadding=10px>
            <tr>
                <th>Site Name</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Etapp</td>
                <td><a href="https://etapp.kwa.kerala.gov.in/">Click here</a></td>
            </tr>
            <tr>
                <td>Edistrict</td>
                <td><a href="https://edistrict.kerala.gov.in/">Click here</a></td>
            </tr>
            <tr>
                <td>Electricity bill</td>
                <td><a href="https://wss.kseb.in/selfservices/quickpay">Click here</a></td>
            </tr>
            <tr>
                <td>Electricity bill</td>
                <td><a href="https://wss.kseb.in/selfservices/quickpay">Click here</a></td>
            </tr>
            <tr>
                <td>PSC</td>
                <td><a href="https://thulasi.psc.kerala.gov.in/thulasi/">Click here</a></td>
            </tr>
            <tr>
                <td>KSRTC Booking</td>
                <td><a href="https://www.keralartc.com/">Click here</a></td>
            </tr>

            <tr>
                <td>IRCTC Train ticket</td>
                <td><a href="https://www.irctc.co.in/nget/train-search">Click here</a></td>
            </tr>
            <tr>
                <td>PNR Status Check</td>
                <td><a href="https://www.indianrail.gov.in/enquiry/PNR/PnrEnquiry.html?locale=en">Click here</a></td>
            </tr>

            <tr>
                <td>Landtax</td>
                <td><a href="https://revenue.kerala.gov.in/">Click here</a></td>
            </tr>
            <tr>
                <td>Propertytax</td>
                <td><a href="https://tax.lsgkerala.gov.in/epayment/">Click here</a></td>
            </tr>
            <tr>
                <td>Propertytax</td>
                <td><a href="https://tax.lsgkerala.gov.in/epayment/">Click here</a></td>
            </tr>
            <tr>
                <td>Birth certificate</td>
                <td><a href="https://ksmart.lsgkerala.gov.in/ui/cr/public/quick-certificate-birth">Click here</a></td>
            </tr>
            <tr>
                <td>Death certificate</td>
                <td><a href="https://ksmart.lsgkerala.gov.in/ui/cr/public/quick-certificate-death">Click here</a></td>
            </tr>

        </table>
    </body>
</html>